ion-title {
  text-align: center;
  max-width: 90%;
  margin: 0 auto; 
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; 

  .welcome-section {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-weight: bold;
    }
  }

  ion-item {
    ion-icon {
      font-size: 24px;
      color: #007bff;
    }

    h2 {
      font-weight: bold;
    }
  }
  
  ion-list {
    text-align: center;
    max-width: auto;
    margin: 0 auto;
  }

  .features-list {
    padding: 20px; 
  }
}