ion-title {
    text-align: center;
    max-width: 90%;
    margin: 0 auto; 
  }

  .create-flashcard-button {
    padding: 20px;
  }

  .flashcard {
    width: 80%;
    max-width: 400px; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .flashcard-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .textarea {
    min-height: 100px; 
  height: auto; 
  resize: none; 
  overflow: hidden; 
  }
  
  ion-row {
    height: 100%;
  }
  
  ion-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .folders {
    .folder-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
  
    .folder-name {
      flex: 1;
    }
  
    .notes-list {
      margin-top: 10px;
    }
  
    .note-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
    }
  }
